<form hx-post="/start-login" id="login" hx-swap="none" x-data="{
    ...<%= JSON.stringify({
      signupsOpen: Boolean(settings.signups_open),
      defaultMode: locals.mode || null,
    }) %>,
    localMode: null,
    accountType: <%- settings.mastodon_players ? "$persist('bluesky')" : "'bluesky'" %>,
    get mode() {
      if (!this.signupsOpen) return 'login';
      if (this.localMode != null) return this.localMode;
      if (this.defaultMode != null) return this.defaultMode;
      return 'choose';
    },
    set mode(mode) {
      this.localMode = mode;
    },
  }"
    @submit="newrelic.addPageAction('login_started', {mode, handle: handle.value, accountType})"
  >
  <input type="hidden" name="requestId" value="<%= requestId %>"/>
  <input type="hidden" name="returnToken" value="<%= returnToken %>"/>
  <input type="hidden" name="accountType" x-bind:value="accountType"/>
  <% if (settings.mastodon_players) { %>
    <div class="flex -mt-8 -mx-8 mb-8">
      <button type="button" x-bind:class="(accountType === 'bluesky' ? '' : 'border-b ') + 'w-1/2 rounded-none border-slate-500 border-r p-4 flex items-center justify-center focus:ring-0'" @click="accountType = 'bluesky'">
        <img src="/public/bluesky.svg" class="size-8 block pr-2"/>
        <div x-bind:class="accountType === 'bluesky' ? 'font-semibold' : ''">Bluesky</div>
      </button>
      <button type="button" x-bind:class="(accountType === 'mastodon' ? '' : 'border-b ') + 'w-1/2 rounded-none border-slate-500 border-l p-4 flex items-center justify-center focus:ring-0'" @click="accountType = 'mastodon'">
        <img src="/public/mastodon.svg" class="size-8 block pr-2"/>
        <div x-bind:class="accountType === 'mastodon' ? 'font-semibold' : ''">Mastodon</div>
      </button>
    </div>
  <% } %>
  <div class="flex space-x-8" x-show="mode === 'choose'">
    <button type="button" @click.prevent="mode = 'signup'" class="flex-grow rounded-lg px-8 py-2 bg-bsky hover:bg-sky-500 text-white drop-shadow-lg focus:ring ring-sky-500 outline-none">Sign up</button>
    <button type="button" @click.prevent="mode = 'login'" class="flex-grow rounded-lg px-8 py-2 bg-bsky hover:bg-sky-500 text-white drop-shadow-lg focus:ring ring-sky-500 outline-none">Login</button>
  </div>
  <div class="space-y-8" x-show="mode !== 'choose'">
    <h1 x-text="mode === 'login' ? 'Login' : 'Sign up'"></h1>
    <div x-show="mode === 'signup'" class="space-y-2">
      <p>To sign up:</p>
      <div class="pl-6">
        <ol class="list-decimal space-y-2">
          <li x-show="accountType === 'bluesky'"><b>Enter your handle below</b></li>
          <li x-show="accountType === 'mastodon'"><b>Enter your Mastodon instance below</b></li>
          <li x-show="accountType === 'bluesky'"><b>Login with your Bluesky password</b><br/>
            NB: you are entering your password into Bluesky, not the Secret Santa app.
            We do not have access to your password or any access to your Bluesky account.</li>
          <li x-show="accountType === 'mastodon'"><b>Login to your Mastodon instance</b><br/>
            NB: you are entering your password into your Mastodon instance, not the Secret Santa app.
            We do not have access to your password or any access to your Mastodon account.</li>
          <li><b>Fill out your address and preferences</b></li>
        </ol>
      </div>
    </div>
    <div x-data="{term: <%= JSON.stringify(locals.handle ? locals.handle: '') %>, actors: []}">
      <div class="group">
        <label for="handle" class="block -mb-8 mt-2 relative pl-2 text-sm group-focus-within:text-blue-700 group-focus-within:dark:text-blue-300 scheme-light dark:scheme-dark">Handle</label>
        <input
          x-model="term"
          type="text"
          id="handle"
          name="handle"
          x-bind:placeholder="accountType === 'bluesky' ? 'coolplayer.bsky.social' : 'coolplayer@secretsanta.nz'"
          class="p-2 pt-10 rounded-lg border-slate-300 border bg-slate-50 dark:bg-slate-950 w-full focus:ring ring-sky-500 outline-none disabled:opacity-50"
          x-bind:list="accountType === 'bluesky' ? 'handle_suggestions' : ''"
          autocomplete="false"
          @keypress.debounce="accountType === 'bluesky' ? (actors = JSON.parse(await $fetch('https://public.api.bsky.app/xrpc/app.bsky.actor.searchActorsTypeahead?q=' + encodeURIComponent(term.replace(/^@/, '').trim().toLowerCase()))).actors) : undefined"
        />
      </div>
      <datalist id="handle_suggestions"> 
        <template x-for="item in (actors || [])">
          <option x-bind:value="(term.startsWith('@') ? '@' : '') + item.handle"></option>
        </template>
      </datalist>
      <div x-show="mode === 'login' && accountType === 'bluesky'" class="mt-2">
        You will be sent to Bluesky to login with your Bluesky password.
      </div>
      <div x-show="mode === 'login' && accountType === 'mastodon'" class="mt-2">
        You will be sent to your Mastodon instance to login with your Mastodon account.
      </div>
    </div>
    <%- include('../partials/error.ejs', { elementId: 'login-error' }) %>
    <input type="hidden" name="mode" x-bind:value="mode"/>
    <div class="flex justify-center items-center">
      <button type="button" x-show="signupsOpen" @click.prevent="mode = 'choose'" class="text-gray-400">Back</button>
      <div class="flex-grow"></div>
      <%- include('../partials/activity-spinner.ejs') %>
      <div x-bind:class="(signupsOpen ? 'w-48' : 'w-full') + ' flex flex-col justify-center space-y-2'">
        <input type="submit" name="login" x-bind:value="mode === 'login' ? 'Login' : 'Sign up'" class="w-full rounded-lg px-8 py-2 bg-bsky hover:bg-sky-500 text-white drop-shadow-lg focus:ring ring-sky-500 outline-none" />
        <button type="submit" name="otpLogin" value="true" x-show="mode === 'login' && accountType === 'bluesky'" class="w-full text-gray-400">Login with DM Code</button>
      </div>
    </div>
  </div>
</form>