<div class="space-y-8 w-full max-w-lg" x-data="<%= JSON.stringify({...badge, assigned_for_type}) %>">
  <div class="flex justify-center" x-data="{file: null, preview_url: '', presigned: null}">
    <img x-bind:src="image_url" class="block size-62" />
    <div x-show="!image_url">
      <form hx-post="/test" hx-trigger="ss-post-presigned from:next" enctype="multipart/form-data"
        @htmx:config-request.camel="
          $event.detail.path = presigned.url;
          Object.entries(presigned.fields).forEach(([key, value]) => {
            $event.detail.parameters[key] = value;
          });
          // File must be last so delete and re-add it
          const file = $event.detail.parameters.file;
          $event.detail.parameters.delete('file');
          $event.detail.parameters.file = file;
        "
        @htmx:before-swap.camel.prevent="
          if (!$event.detail.isError) {
            image_url = presigned.image_url
          }
        ">
        <input type="file" name="file" @change="
          file = $event.target.files[0] || null;
          preview_url = file == null ? '' : URL.createObjectURL(file);
        "/>
      </form>
      <form hx-post="/admin/badges/presign-upload" @htmx:before-swap.camel.prevent="
        presigned = JSON.parse($event.detail.serverResponse);
        $dispatch('ss-post-presigned');
      ">
        <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
        <input type="hidden" name="filename" x-bind:value="file && file.name"/>
        <input type="hidden" name="content_type" x-bind:value="file && file.type"/>
        <%- include('../partials/activity-spinner.ejs') %>
        <input type="submit" name="upload" value="Upload" class="htmx-request:hidden rounded-lg px-8 py-2 bg-bsky hover:bg-sky-500 text-white drop-shadow-lg focus:ring ring-sky-500 outline-none" />
      </form>
      <img x-show="preview_url" x-bind:src="preview_url" class="block size-62" />
    </div>
  </div>
  <form hx-boost="true" method="post" action="/admin/badges<%= badge.id ? '/' + badge.id : '' %>" class="space-y-8">
    <%- include('../partials/input-text.ejs', {id: 'title', label: 'Title', placeholder: '', xModel: 'title'}); %>
    <%- include('../partials/input-text.ejs', {id: 'description', label: 'Description', placeholder: '', xModel: 'description'}); %>
    <%- include('../partials/input-text.ejs', {id: 'image_url', label: 'Image url', placeholder: '', xModel: 'image_url'}); %>
    <%- include('../partials/drop-down.ejs', {id: 'assigned_for_type', xModel: 'assigned_for_type', label: 'Assigned for', options: [
      {id: 'nothing', text: 'Nothing'},
      {id: 'current_game', text: 'Current game'},
      {id: 'sent_present', text: 'Sending gift'},
      {id: 'super_santa', text: 'Super santa'},
      {id: 'by_elf', text: 'By elf'},
      {id: 'posting', text: 'Posting'},
    ]}); %>
    <%- include('../partials/input-text.ejs', {id: 'assigned_by_hashtag', label: 'Hashtag', placeholder: '#hashtag', xModel: 'assigned_by_hashtag', xShow: 'assigned_for_type === "by_elf" || assigned_for_type === "posting"'}); %>
    <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
    <%- include('../partials/activity-spinner.ejs') %>
    <input type="submit" name="save" value="Save" class="htmx-request:hidden rounded-lg w-full px-8 py-2 bg-bsky hover:bg-sky-500 text-white drop-shadow-lg focus:ring ring-sky-500 outline-none" />
  </form>
</div>