<div class="w-full px-12"
  x-data="{...<%= JSON.stringify({...pageData, showConfirm: '', validDraftMatchesCount: 0}) %>,
    _handleFilter: '', 
    draftMatchesPage: 1,
    get handleFilter() { return this._handleFilter; },
    set handleFilter(val) { this.draftMatchesPage = 1; this._handleFilter = val; },

    get cleanHandlerFilter () { return this.handleFilter.replace(/@/g, '').toLowerCase(); },
    get validDraftMatchesCount() {
      return this.draftMatches.filter((match) => !match.invalid_player).length;
    },

    get selectedMatches() {
      return this.draftMatches.filter((match) => !this.cleanHandlerFilter || match.santa_handle.toLowerCase().includes(this.cleanHandlerFilter) || match.giftee_handle.toLowerCase().includes(this.cleanHandlerFilter))
    },
    get selectedMatchesStart() { return (this.draftMatchesPage - 1) * 25; },
    get selectedMatchesEnd() { return Math.min(this.draftMatchesPage * 25, this.selectedMatches.length);},
    get draftMatchesPageSelect() { return String(this.draftMatchesPage); },
    set draftMatchesPageSelect(strVal) { this.draftMatchesPage = parseInt(strVal); },
    get draftMatchesPages() {
      const count = this.selectedMatches.length;
      const pages = [];
      for (let i = 0; i * 25 < count; i++) {
        pages.push({
          key: `${i + 1}`,
          display: `Page ${i + 1}: ${(i * 25) + 1} - ${Math.min((i + 1) * 25, this.selectedMatches.length)}`
        })
      }
      return pages;
    },
  }"
  @ss-match-deactivated.window="draftMatches = draftMatches.filter((match) => match.match_id !== event.detail.id)"
  @ss-too-many-giftees-match-updated.window="tooManyGifteeMatches = mergeTooManyGifteeMatches(tooManyGifteeMatches, event.detail)"
>
  <div class="grid sm:grid-cols-2 space-x-4 spacey-4 mb-8">
    <button x-show="criticalMatchIssues > 0" @click="window.open('/admin/fix-matches')">
      <div class="text-3xl text-red-600 font-semibold" x-text="criticalMatchIssues"></div>
      <div class="text-sm">Critical match issues</div>
    </button>
    <button x-show="warnMatchIssues > 0" @click="window.open('/admin/fix-matches')">
      <div class="text-3xl text-orange-400 font-semibold" x-text="warnMatchIssues"></div>
      <div class="text-sm">Match issues</div>
    </button>
  </div>
  <div class="grid sm:grid-cols-3 space-x-4 spacey-4 mb-8">
    <form x-show="countNeedsSantaAssigned > 0" hx-post="/match/auto-match" class="flex items-center sm:justify-center">
      <button type="submit" class="htmx-request:hidden w-lg px-8 py-2 border-4 border-bsky h-full">Auto-match <span x-text="countNeedsSantaAssigned"></span> players</button>
      <%- include('../partials/activity-spinner.ejs') %>
      <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
    </form>
    <form x-show="validDraftMatchesCount > 0" hx-post="/match/publish" class="flex items-center sm:justify-center">
      <button type="submit" class="htmx-request:hidden w-lg px-8 py-2 border-4 border-bsky h-full">Publish <span x-text="validDraftMatchesCount"></span> matches</button>
      <%- include('../partials/activity-spinner.ejs') %>
      <input type="hidden" name="current_status" value="draft"/>
      <input type="hidden" name="target_status" value="shared"/>
      <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
    </form>
    <form x-show="validDraftMatchesCount > 0" hx-post="/match/publish" class="flex items-center sm:justify-center">
      <button type="submit" class="htmx-request:hidden w-lg px-8 py-2 border-4 border-bsky h-full">Publish <span x-text="validDraftMatchesCount"></span> matches<br/>(with address)</button>
      <%- include('../partials/activity-spinner.ejs') %>
      <input type="hidden" name="current_status" value="draft"/>
      <input type="hidden" name="target_status" value="locked"/>
      <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
    </form>
  </div>
  <div class="flex space-x-8 items-center mb-2">
    <h1>Draft matches</h1>
    <div>
      <select x-model="draftMatchesPageSelect">
        <template x-for="{key, display} of draftMatchesPages">
          <option x-bind:value="key" x-text="display"></option>
        </template>
      </select>
    </div>
  </div>
  <div class="w-full mb-2">
    <input type="text" x-model="handleFilter" placeholder="coolplayer.bsky.social" class="w-full p-1 rounded-lg border"/>
  </div>
  <div class="grid-cols-3 space-x-4 spacey-4 hidden sm:grid">
    <div class="flex justify-center"><b>Santa</b></div>
    <div class="flex justify-center"><b>Giftee</b></div>
    <div class="flex justify-center"><b>Delete</b></div>
  </div>
  <template x-for="match in selectedMatches.slice(selectedMatchesStart, selectedMatchesEnd)">
    <div class="grid sm:grid-cols-3 space-x-4 spacey-4 border-b py-2">
      <div class="flex justify-center items-center text-lg">
        <a x-bind:href="'/admin/manage-players?handle=' + encodeURIComponent(match.santa_handle)" target="_blank">
          <span x-text="'@' + match.santa_handle"></span>
          <span x-show="match.santa_deactivated" x-text="match.santa_booted ? 'Booted' : 'Opted-out'" class="font-semibold"></span>
        </a>
      </div>
      <div class="flex justify-center items-center text-lg">
        <a x-bind:href="'/admin/manage-players?handle=' + encodeURIComponent(match.giftee_handle)" target="_blank">
          <span x-text="'@' + match.giftee_handle"></span>
          <span x-show="match.giftee_deactivated" x-text="match.giftee_booted ? 'Booted' : 'Opted-out'" class="font-semibold"></span>
        </a>
      </div>
      <form hx-post="/match/deactivate-match" class="flex items-center sm:justify-center">
        <button x-show="`match-${match.match_id}` !== showConfirm" @click.prevent.stop="showConfirm = `match-${match.match_id}`">
          <div class="flex sm:justify-center items-center ">
            <div class="i-mdi-trash-can-outline size-10"></div>
            <div class="sm:hidden"><b>Delete match</b></div>
          </div>
        </button>
        <%- include('../partials/activity-spinner.ejs') %>
        <input x-show="`match-${match.match_id}` === showConfirm" type="submit" name="save" value="Delete match" class="htmx-request:hidden rounded-lg w-lg px-8 py-2 bg-red-600 hover:bg-red-400 text-white drop-shadow-lg focus:ring ring-sky-500 outline-none" />
        <button x-show="`match-${match.match_id}` === showConfirm" @click.prevent.stop="showConfirm = ''" class="htmx-request:hidden">
          <div class="i-mdi-close size-10 text-gray-400"></div>
        </button>
        <input type="hidden" name="match_id" x-bind:value="match.match_id"/>
        <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
      </form>
    </div>
  </template>
</div>