<script>
  function mergeTooManyGifteeMatches(tooManyGifteeMatches, updatedMatches) {
    const newMatches = [];
    let currentDid = undefined;
    for (const match of tooManyGifteeMatches) {
      if (!updatedMatches[match.did]) {
        newMatches.push(match);
      } else if (currentDid !== match.did) {
        newMatches.push(...updatedMatches[match.did]);
      }
      currentDid = match.did;
    }
    return newMatches;
  }
</script>
<div class="grid xl:grid-cols-3"
  x-data="<%= JSON.stringify({...pageData, showConfirm: ''}) %>"
  @ss-match-deactivated.window="brokenMatches = brokenMatches.filter((match) => match.match_id !== event.detail.id)"
  @ss-too-many-giftees-match-updated.window="tooManyGifteeMatches = mergeTooManyGifteeMatches(tooManyGifteeMatches, event.detail)"
  @ss-reload-data.window="Object.assign($data, JSON.parse(await $fetch(window.location.pathname + '?data=true')));"
>
  <div class="xl:col-span-2 pr-4">
    <div class="mb-12" x-show="brokenMatches.length > 0">
      <h1>Broken matches</h1>
      <p>These matches have been broken by a player deactivating, either opting out or us booting them out.</p>
      <p>We will need to delete the match and assign new santa / giftee as appropraite.</p>
      <p>This is not done automatically as we need to communicate with players when this happens</p>
      <div class="grid-cols-4 space-x-4 hidden sm:grid">
        <div class="flex justify-center"><b>Santa</b></div>
        <div class="flex justify-center"><b>Giftee</b></div>
        <div class="flex justify-center"><b>Status</b></div>
        <div class="flex justify-center"><b>Delete</b></div>
      </div>
      <template x-for="match in brokenMatches">
        <div class="grid sm:grid-cols-4 sm:space-x-4 border-b py-2">
          <%- include('./fragments/match-player.ejs', {description: 'Santa', side: 'santa'}) %>
          <%- include('./fragments/match-player.ejs', {description: 'Giftee', side: 'giftee'}) %>
          <div class="flex sm:justify-center items-center text-lg">
            <div class="italic sm:hidden mr-2">Status:</div>
            <div x-text="match.match_status"></div>
          </div>
          <form hx-post="/match/deactivate-match" class="flex items-center sm:justify-center">
            <button x-show="`match-${match.match_id}` !== showConfirm" @click.prevent.stop="showConfirm = `match-${match.match_id}`">
              <div class="flex sm:justify-center items-center ">
                <div class="i-mdi-trash-can-outline size-10"></div>
                <div class="sm:hidden"><b>Delete match</b></div>
              </div>
            </button>
            <%- include('../partials/activity-spinner.ejs') %>
            <input x-show="`match-${match.match_id}` === showConfirm" type="submit" name="save" value="Delete match" class="htmx-request:hidden rounded-lg w-lg px-8 py-2 bg-red-600 hover:bg-red-400 text-white drop-shadow-lg focus:ring ring-sky-500 outline-none" />
            <button x-show="`match-${match.match_id}` === showConfirm" @click.prevent.stop="showConfirm = ''" class="htmx-request:hidden">
              <div class="i-mdi-close size-10 text-gray-400"></div>
            </button>
            <input type="hidden" name="match_id" x-bind:value="match.match_id"/>
            <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
          </form>
        </div>
      </template>
    </div>

    <div class="mb-12" x-show="tooManyGifteeMatches.length > 0">
      <h1>Players with too many Giftees</h1>
      <p>These players have more Giftees assigned than they signed up for. We probably want to assign a different Santa to these Giftees to balance things out.</p>
      <div class="grid-cols-4 space-x-4 hidden sm:grid">
        <div class="flex justify-center"><b>Santa</b></div>
        <div class="flex justify-center"><b>Giftee</b></div>
        <div class="flex justify-center"><b>Status</b></div>
        <div class="flex justify-center"><b>Action</b></div>
      </div>
      <template x-for="match in tooManyGifteeMatches">
        <div class="grid sm:grid-cols-4 sm:space-x-4 border-b py-2">
          <%- include('./fragments/match-player.ejs', {description: 'Santa', side: 'santa'}) %>
          <%- include('./fragments/match-player.ejs', {description: 'Giftee', side: 'giftee'}) %>
          <div class="flex sm:justify-center items-center text-lg">
            <div class="italic sm:hidden mr-2">Status:</div>
            <div x-text="match.match_status"></div>
          </div>
          <div class="flex flex-col sm:justify-center items-start sm:items-center">
            <button @click="$dispatch('ss-open-modal', {modal: 'game-mode', modalData: match})" class="rounded-sm underline">Change game mode</button>
            <button @click="$dispatch('ss-open-modal', {modal: 'reassign-giftee', modalData: match})" class="rounded-sm underline">Reassign giftee</button>
          </div>
        </div>
      </template>
    </div>

    <div class="mb-12" x-show="needsSantaAssigned.length > 0">
      <h1>Players needing a Santa</h1>
      <p>These players have no Santa assigned to them. By default the search will only find people who have less giftee's than they've signed up to do.</p>
      <div class="grid-cols-2 space-x-4 hidden sm:grid">
        <div class="flex justify-center"><b>Player</b></div>
        <div class="flex justify-center"><b>Action</b></div>
      </div>
      <template x-for="player in needsSantaAssigned.slice(0, 15)">
        <div class="grid sm:grid-cols-2 sm:space-x-4 border-b py-2">
          <%- include('./fragments/player-link.ejs') %>
          <div class="flex flex-col justify-center items-center">
            <button @click="$dispatch('ss-open-modal', {modal: 'assign-santa', modalData: player})" class="rounded-sm underline">Assign santa</button>
          </div>
        </div>
      </template>
      <div x-show="needsSantaAssigned.length > 15">... and <span x-text="needsSantaAssigned.length - 15"></span> more</div>
    </div>

    <div class="mb-12" x-show="tooManySantasMatches.length > 0">
      <h1>Players with multiple santas</h1>
      <p>These players have more than one Santa assigne to them. We probably want to clean these up so that there's only one Santa for each player.</p>
      <div class="grid-cols-4 space-x-4 hidden sm:grid">
        <div class="flex justify-center"><b>Giftee</b></div>
        <div class="flex justify-center"><b>Santa</b></div>
        <div class="flex justify-center"><b>Status</b></div>
        <div class="flex justify-center"><b>Delete</b></div>
      </div>
      <template x-for="match in tooManySantasMatches">
        <div class="grid sm:grid-cols-4 sm:space-x-4 border-b py-2">
          <%- include('./fragments/match-player.ejs', {description: 'Giftee', side: 'giftee'}) %>
          <%- include('./fragments/match-player.ejs', {description: 'Santa', side: 'santa'}) %>
          <div class="flex sm:justify-center items-center text-lg">
            <div class="italic sm:hidden mr-2">Status:</div>
            <div x-text="match.match_status"></div>
          </div>
          <form hx-post="/match/deactivate-match" class="flex items-center sm:justify-center">
            <button x-show="`match-${match.match_id}` !== showConfirm" @click.prevent.stop="showConfirm = `match-${match.match_id}`">
              <div class="flex sm:justify-center items-center ">
                <div class="i-mdi-trash-can-outline size-10"></div>
                <div class="sm:hidden"><b>Delete match</b></div>
              </div>
            </button>
            <%- include('../partials/activity-spinner.ejs') %>
            <input x-show="`match-${match.match_id}` === showConfirm" type="submit" name="save" value="Delete match" class="htmx-request:hidden rounded-lg w-lg px-8 py-2 bg-red-600 hover:bg-red-400 text-white drop-shadow-lg focus:ring ring-sky-500 outline-none" />
            <button x-show="`match-${match.match_id}` === showConfirm" @click.prevent.stop="showConfirm = ''" class="htmx-request:hidden">
              <div class="i-mdi-close size-10 text-gray-400"></div>
            </button>
            <input type="hidden" name="match_id" x-bind:value="match.match_id"/>
            <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
          </form>
        </div>
      </template>
    </div>
  </div>
  <div>
    <h1>Players available to Santa</h1>
    <template x-for="player in playersWhoCanHaveMoreGifees.slice(0, 15)">
      <div class="mb-2">
        <%- include('./fragments/player-link.ejs') %>
      </div>
    </template>
    <div x-show="playersWhoCanHaveMoreGifees.length > 15">... and <span x-text="playersWhoCanHaveMoreGifees.length - 15"></span> more</div>
    <datalist id="players-available-to-santa"> 
      <template x-for="player in playersWhoCanHaveMoreGifees">
        <option x-bind:value="player.handle"></option>
      </template>
    </datalist>
  </div>
</div>
<div x-data="{showModal: null, modalData: {}}" @ss-open-modal.window="showModal = $event.detail.modal; modalData = $event.detail.modalData;" @ss-close-modal.window="showModal = null;">
  <template x-teleport="body">
    <div x-show="showModal">
      <div class="fixed h-dvh w-dvw top-0 left-0 z-50 bg-slate-700 opacity-80">
      </div>
      <div class="fixed max-h-dvh w-dvw top-0 left-0 z-50 overflow-auto flex justify-evenly items-stretch flex-wrap p-4">
        <%- include('../layouts/card.ejs', { bodyTemplate: 'player/game-mode.ejs', xShow: "showModal === 'game-mode'", adminMode: true, returnTooManyMatches: true }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'admin/reassign-giftee.ejs', xShow: "showModal === 'reassign-giftee'" }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'admin/assign-santa.ejs', xShow: "showModal === 'assign-santa'" }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'admin/player-notes.ejs', xShow: "showModal === 'player-notes'", adminMode: true  }) %>
      </div>
    </div>
  </template>
</div>