<div class="flex-grow p-4 justify-items-center grid gap-8 lg:grid-cols-2 xl:grid-cols-3">
<h1 class="lg:col-span-2 xl:col-span-3">
  Starting the game
</h1>
<%- include('../layouts/card.ejs', { bodyTemplate: 'admin/home/manager-players.ejs' }) %>
<%- include('../layouts/card.ejs', { bodyTemplate: 'admin/home/draft-matches.ejs' }) %>
<%- include('../layouts/card.ejs', { bodyTemplate: 'admin/home/fix-matches.ejs' }) %>
<h1 class="lg:col-span-2 xl:col-span-3">
  Sleuthing & Helping
</h1>
<%- include('../layouts/card.ejs', { bodyTemplate: 'admin/home/published-matches.ejs' }) %>
<%- include('../layouts/card.ejs', { bodyTemplate: 'admin/home/nudges.ejs' }) %>
<%- include('../layouts/card.ejs', { bodyTemplate: 'admin/home/tracking.ejs' }) %>
<h1 class="lg:col-span-2 xl:col-span-3">
  Chasing
</h1>
<%- include('../layouts/card.ejs', { bodyTemplate: 'admin/home/without-gifts.ejs' }) %>
</div>