<div class="w-full px-12"
    x-data="<%= JSON.stringify({ players, showConfirm: '', showSignupComplete: true, showSignupIncomplete: true, activePlayersFilter: '' }) %>"
    @ss-player-updated.window="players = players.map((player) => (player.did === event.detail.did ? event.detail : player))"
    @ss-player-added.window="players.push(event.detail)"
  >
  <fieldset class="flex space-x-8 items-center mb-2">
    <h1>Active players</h1>
    <div>
      <input type="checkbox" id="show-signup-complete" name="show-signup-complete" x-model="showSignupComplete"/>
      <label for="show-signup-complete">Signup complete</label>
    </div>
    <div>
      <input type="checkbox" id="show-signup-incomplete" name="show-signup-incomplete" x-model="showSignupIncomplete" />
      <label for="show-signup-incomplete">Signup incomplete</label>
    </div>
    <div class="flex-grow"></div>
    <button @click="$dispatch('ss-open-modal', {modal: 'new-player', modalData: {}})">
      <div class="i-mdi-add size-10"></div>
    </button>
  </fieldset>
  <div class="w-full mb-2">
    <input type="text" x-model="activePlayersFilter" placeholder="coolplayer.bsky.social" class="w-full p-1 rounded-lg border"/>
  </div>
  <div class="grid-cols-5 space-x-4 spacey-4 hidden sm:grid">
    <div class="flex justify-center"><b>Player</b></div>
    <div class="flex justify-center"><b>Following santa</b></div>
    <div class="flex justify-center"><b>Has address</b></div>
    <div class="flex justify-center"><b>Game mode</b></div>
    <div class="flex justify-center"><b>Remove player</b></div>
  </div>
  <template x-for="player in players.filter(player => !player.deactivated && (player.signup_complete ? showSignupComplete : showSignupIncomplete) && (!activePlayersFilter.replace(/@/g, '') || player.handle.toLowerCase().includes(activePlayersFilter.replace(/@/g, '').toLowerCase())))">
    <div class="grid sm:grid-cols-5 space-x-4 spacey-4 border-b py-2" x-init="htmx && htmx.process($el)">
      <div class="flex justify-center items-center text-lg font-semibold">
        <a x-bind:href="'https://bsky.app/profile/' + player.handle" x-text="'@' + player.handle"></a>
      </div>
      <form hx-post="/player/refresh-following" class="flex items-center sm:justify-center">
        <%- include('../partials/activity-spinner.ejs') %>
        <button class="htmx-request:hidden">
          <div class="flex sm:justify-center items-center">
            <div class="i-mdi-cross-circle-outline text-red-600 size-12" x-show="!player.following_santa_uri"></div>
            <div class="i-mdi-tick-circle-outline text-green-600 size-12" x-show="player.following_santa_uri"></div>
            <div class="sm:hidden"><b>Following santa</b> <span class="italic">(Click to recheck)</span></div>
          </div>
          <div class="italic hidden sm:block">Click to recheck</div>
        </button>
        <input type="hidden" name="player_did" x-bind:value="player.did"/>
        <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
      </form>
      <button @click="$dispatch('ss-open-modal', {modal: 'address', modalData: player})">
        <div class="flex sm:justify-center items-center">
          <div class="i-mdi-cross-circle-outline text-red-600 size-12" x-show="!player.address"></div>
          <div class="i-mdi-tick-circle-outline text-green-600 size-12" x-show="player.address"></div>
          <div class="sm:hidden"><b>Has address</b> <span class="italic">(Click to edit)</span></div>
        </div>
        <div class="italic hidden sm:block">Click to edit</div>
      </button>
      <button @click="$dispatch('ss-open-modal', {modal: 'game-mode', modalData: {...player, game_mode: player.game_mode || 'Regular' }})">
        <div class="flex sm:justify-center items-center">
          <div class="i-mdi-cross-circle-outline text-red-600 size-12" x-show="!player.game_mode"></div>
          <div class="i-mdi-tick-circle-outline text-green-600 size-12" x-show="player.game_mode"></div>
          <div class="sm:hidden"><b>Game mode</b> <span class="italic">(Click to edit)</span></div>
        </div>
        <div class="italic hidden sm:block">Click to edit</div>
      </button>
      <form hx-post="/player/boot-player" class="flex items-center sm:justify-center">
        <button x-show="`remove-${player.did}` !== showConfirm" @click.prevent.stop="showConfirm = `remove-${player.did}`">
          <div class="flex sm:justify-center items-center ">
            <div class="i-mdi-trash-can-outline size-12"></div>
            <div class="sm:hidden"><b>Remove player</b></div>
          </div>
        </button>
        <%- include('../partials/activity-spinner.ejs') %>
        <input x-show="`remove-${player.did}` === showConfirm" type="submit" name="save" value="Remove player" class="htmx-request:hidden rounded-lg w-lg px-8 py-2 bg-red-600 hover:bg-red-400 text-white drop-shadow-lg focus:ring ring-sky-500 outline-none" />
        <button x-show="`remove-${player.did}` === showConfirm" @click.prevent.stop="showConfirm = ''" class="htmx-request:hidden">
          <div class="i-mdi-close size-12 text-gray-400"></div>
        </button>
        <input type="hidden" name="player_did" x-bind:value="player.did"/>
        <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
      </form>
    </div>
  </template>

  <fieldset class="flex space-x-8 items-center mt-12 mb-2">
    <h1>Deactivated players</h1>
  </fieldset>
  <div class="w-full mb-2">
    <input type="text" x-model="activePlayersFilter" placeholder="coolplayer.bsky.social" class="w-full p-1 rounded-lg border"/>
  </div>
  <div class="grid-cols-3 space-x-4 spacey-4 hidden sm:grid">
    <div class="flex justify-center"><b>Player</b></div>
    <div class="flex justify-center"><b>Type</b></div>
    <div class="flex justify-center"><b>Reactivate player</b></div>
  </div>
  <template x-for="player in players.filter((player) => player.deactivated && (!activePlayersFilter.replace(/@/g, '') || player.handle.toLowerCase().includes(activePlayersFilter.replace(/@/g, '').toLowerCase())))">
    <div class="grid sm:grid-cols-3 space-x-4 spacey-4 border-b py-2" x-init="htmx && htmx.process($el)">
      <div class="flex justify-center items-center text-lg font-semibold">
        <a x-bind:href="'https://bsky.app/profile/' + player.handle" x-text="'@' + player.handle"></a>
      </div>
      <div class="flex justify-center items-center">
        <span x-text="player.booted ? 'Booted out' : 'Opted out'"></span>
      </div>
      <form hx-post="/player/restore-player" class="flex items-center sm:justify-center">
        <button x-show="`restore-${player.did}` !== showConfirm" @click.prevent.stop="showConfirm = `restore-${player.did}`">
          <div class="flex sm:justify-center items-center ">
            <div class="i-mdi-restore size-12"></div>
            <div class="sm:hidden"><b>Restore player</b></div>
          </div>
        </button>
        <%- include('../partials/activity-spinner.ejs') %>
        <input x-show="`restore-${player.did}` === showConfirm" type="submit" name="save" value="Restore player" class="htmx-request:hidden rounded-lg w-lg px-8 py-2 bg-green-600 hover:bg-green-400 text-white drop-shadow-lg focus:ring ring-sky-500 outline-none" />
        <button x-show="`restore-${player.did}` === showConfirm" @click.prevent.stop="showConfirm = ''" class="htmx-request:hidden">
          <div class="i-mdi-close size-12 text-gray-400"></div>
        </button>
        <input type="hidden" name="player_did" x-bind:value="player.did"/>
        <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
      </form>
    </div>
  </template>
</div>
<div x-data="{showModal: null, modalData: {}}" @ss-open-modal.window="showModal = $event.detail.modal; modalData = $event.detail.modalData;" @ss-close-modal.window="showModal = null;">
  <template x-teleport="body">
    <div x-show="showModal">
      <div class="fixed h-dvh w-dvw top-0 left-0 z-50 bg-slate-700 opacity-80">
      </div>
      <div class="fixed max-h-dvh w-dvw top-0 left-0 z-50 overflow-auto flex justify-evenly items-stretch flex-wrap p-4">
        <%- include('../layouts/card.ejs', { bodyTemplate: 'player/address.ejs', xShow: "showModal === 'address'", adminMode: true }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'player/game-mode.ejs', xShow: "showModal === 'game-mode'", adminMode: true }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'admin/new-player.ejs', xShow: "showModal === 'new-player'", adminMode: true  }) %>
      </div>
    </div>
  </template>
</div>