<div class="w-full px-12"
    x-data="{...<%= JSON.stringify({players, showConfirm: '', initialFilter}) %>,
    }"
    x-init="activePlayersPager = secretsantanz.buildPager({
      handle: initialFilter,
      showSignupComplete: true,
      showSignupIncomplete: true,
      sortBy: 'weighted',
    }, function(filters) {
      const cleanHandleFilter = filters.handle.replace(/@/g, '').toLowerCase();
      return players.filter(player =>
        !player.deactivated && (player.signup_complete ? filters.showSignupComplete : filters.showSignupIncomplete) && (!cleanHandleFilter || player.handle.toLowerCase().includes(cleanHandleFilter))
      ).sort((a,b) => {
        if (filters.sortBy === 'post-count') {
          const recentPostsDiff = a.post_count_since_signup - b.post_count_since_signup;
          return recentPostsDiff !== 0 ? recentPostsDiff : (a.post_count - b.post_count);
        } else if (filters.sortBy === 'weighted') {
          return (a.post_count_since_signup * 10 + a.post_count) - (b.post_count_since_signup * 10 + b.post_count);
        } else {
          return a.id - b.id;
        }
      });
    });
    inactivePlayersPager = secretsantanz.buildPager({
      handle: initialFilter,
    }, function(filters) {
      const cleanHandleFilter = filters.handle.replace(/@/g, '').toLowerCase();
      return players.filter(player => player.deactivated && (!cleanHandleFilter || player.handle.toLowerCase().includes(cleanHandleFilter)));
    });"
    @ss-player-updated.window="players = players.map((player) => (player.did === event.detail.did ? event.detail : player))"
    @ss-player-added.window="players.push(event.detail)"
  >
  <div class="flex items-center mb-2">
    <div class="flex space-x-8 items-center flex-col sm:flex-row grow">
      <h1>Active players</h1>
      <div>
        <select x-model="activePlayersPager.pageSelect">
          <template x-for="{key, display} of activePlayersPager.pages">
            <option x-bind:value="key" x-text="display"></option>
          </template>
        </select>
      </div>
      <div>
        <input type="checkbox" id="show-signup-complete" name="show-signup-complete" x-model="activePlayersPager.filters.showSignupComplete"/>
        <label for="show-signup-complete">Signup complete</label>
      </div>
      <div>
        <input type="checkbox" id="show-signup-incomplete" name="show-signup-incomplete" x-model="activePlayersPager.filters.showSignupIncomplete" />
        <label for="show-signup-incomplete">Signup incomplete</label>
      </div>
      <div class="grow"></div>
      <div>
        <label for="sort-active-players">Sort:</label>
        <select id="sort-active-players" x-model="activePlayersPager.filters.sortBy">
          <option value="sign-up">Sign up</option>
          <option value="post-count">Post count</option>
          <option value="weighted">Weighted</option>
        </select>
      </div>
    </div>

    <button @click="$dispatch('ss-open-modal', {modal: 'new-player', modalData: {}})">
      <div class="i-mdi-add size-10"></div>
    </button>
  </div>
  <div class="w-full mb-2">
    <input type="text" x-model="activePlayersPager.filters.handle" placeholder="coolplayer.bsky.social" class="w-full p-1 rounded-lg border"/>
  </div>
  <div class="grid-cols-7 space-x-4 hidden sm:grid">
    <div class="flex justify-center"><b>Player</b></div>
    <div class="flex justify-center"><b>Following santa</b></div>
    <div class="flex justify-center"><b>Has address</b></div>
    <div class="flex justify-center"><b>Game mode</b></div>
    <div class="flex justify-center"><b>DMs sent</b></div>
    <div class="flex justify-center"><b>Badges</b></div>
    <div class="flex justify-center"><b>Remove player</b></div>
  </div>
  <template x-for="player in activePlayersPager.pageData">
    <div class="grid sm:grid-cols-7 space-x-4 border-b py-2" x-init="htmx && htmx.process($el)">
      <%- include('./fragments/player-link.ejs', { showPostCount: true }) %>
      <form hx-post="/player/refresh-following" class="flex items-center sm:justify-center">
        <%- include('../partials/activity-spinner.ejs') %>
        <button class="htmx-request:hidden">
          <div class="flex sm:justify-center items-center">
            <div class="i-mdi-cross-circle-outline text-red-600 size-12" x-show="player.player_type === 'mastodon' && !player.following_santa_uri && !player.mastodon_following_santa"></div>
            <div class="i-mdi-cross-circle-outline text-red-600 size-12" x-show="player.player_type !== 'mastodon' && !player.following_santa_uri"></div>
            <img src="/public/bluesky.svg" class="size-12 block pr-2 absolute" x-show="player.player_type === 'mastodon' && !player.following_santa_uri && player.mastodon_following_santa"/>
            <img src="/public/mastodon.svg" class="size-12 block pr-2 absolute" x-show="player.player_type === 'mastodon' && player.following_santa_uri && !player.mastodon_following_santa"/>
            <div class="i-mdi-circle-off-outline size-12" x-show="player.player_type === 'mastodon' && (!player.following_santa_uri || !player.mastodon_following_santa) && !(!player.following_santa_uri && !player.mastodon_following_santa)"></div>
            <div class="i-mdi-tick-circle-outline text-green-600 size-12" x-show="player.following_santa_uri && (player.player_type !== 'mastodon' || player.mastodon_following_santa)"></div>
            <div class="sm:hidden"><b>Following santa</b> <span class="italic">(Click to recheck)</span></div>
          </div>
          <div class="italic hidden sm:block">Click to recheck</div>
        </button>
        <input type="hidden" name="player_did" x-bind:value="player.did"/>
        <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
      </form>
      <button @click="$dispatch('ss-open-modal', {modal: 'address', modalData: player})">
        <div class="flex sm:justify-center items-center">
          <div class="i-mdi-cross-circle-outline text-red-600 size-12" x-show="!player.address"></div>
          <div class="i-mdi-tick-circle-outline text-green-600 size-12" x-show="player.address"></div>
          <div class="sm:hidden"><b>Has address</b> <span class="italic">(Click to edit)</span></div>
        </div>
        <div class="italic hidden sm:block">Click to edit</div>
      </button>
      <button @click="$dispatch('ss-open-modal', {modal: 'game-mode', modalData: {...player, game_mode: player.game_mode || 'Regular' }})">
        <div class="flex sm:justify-center items-center">
          <div class="i-mdi-cross-circle-outline text-red-600 size-12" x-show="!player.game_mode"></div>
          <div class="i-mdi-tick-circle-outline text-green-600 size-12" x-show="player.game_mode"></div>
          <div class="sm:hidden"><b>Game mode</b> <span class="italic">(Click to edit)</span></div>
        </div>
        <div class="italic hidden sm:block">Click to edit</div>
      </button>
      <div class="text-center" x-show="!player.player_dm_status.startsWith('error:')">
        <div class="flex sm:justify-center items-center">
          <div class="i-mdi-queue-first-in-last-out size-12" x-show="player.player_dm_status !== 'sent'"></div>
          <div class="i-mdi-tick-circle-outline text-green-600 size-12" x-show="player.player_dm_status === 'sent'"></div>
          <div class="sm:hidden"><b>DMs sent</b></div>
        </div>
        <div class="italic hidden sm:block" x-text="player.player_dm_status"></div>
      </div>
      <form hx-post="/admin/retry-dm" class="flex items-center sm:justify-center" x-show="player.player_dm_status.startsWith('error:')">
        <%- include('../partials/activity-spinner.ejs') %>
        <button class="htmx-request:hidden" x-bind:title="player.player_dm_status">
          <div class="flex sm:justify-center items-center">
            <div class="i-mdi-cross-circle-outline text-red-600 size-12"></div>
            <div class="sm:hidden"><b>DMs sent</b> <span class="italic">(Click to retry)</span></div>
          </div>
        <div class="italic hidden sm:block" x-text="player.player_dm_status"></div>
        <div class="italic hidden sm:block">Click to retry</div>
        </button>
        <input type="hidden" name="player_did" x-bind:value="player.did"/>
        <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
      </form>
      <div class="flex items-center sm:justify-center">
        <a hx-get="/admin/player-badges" x-bind:hx-vals="JSON.stringify({player_did: player.did})" class="flex pl-4 items-center"
          hx-target="#modal-dialogue-content" hx-select="#player-badges" hx-swap="innerHtml" hx-indicator="#modal-dialogue"
          @htmx:before-send.camel="$refs.modal.showModal()"
        ><div x-text="player.badge_count" class="text-4xl"></div><div class="font-semibold ml-3 sm:hidden">Badges</div></a>
      </div>
      <form hx-post="/player/boot-player" class="flex items-center sm:justify-center">
        <button x-show="`remove-${player.did}` !== showConfirm" @click.prevent.stop="showConfirm = `remove-${player.did}`">
          <div class="flex sm:justify-center items-center ">
            <div class="i-mdi-trash-can-outline size-12"></div>
            <div class="sm:hidden"><b>Remove player</b></div>
          </div>
        </button>
        <%- include('../partials/activity-spinner.ejs') %>
        <input x-show="`remove-${player.did}` === showConfirm" type="submit" name="save" value="Remove player" class="htmx-request:hidden rounded-lg w-lg px-8 py-2 bg-red-600 hover:bg-red-400 text-white drop-shadow-lg focus:ring-3 ring-sky-500 outline-hidden" />
        <button x-show="`remove-${player.did}` === showConfirm" @click.prevent.stop="showConfirm = ''" class="htmx-request:hidden">
          <div class="i-mdi-close size-12 text-gray-400"></div>
        </button>
        <input type="hidden" name="player_did" x-bind:value="player.did"/>
        <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
      </form>
    </div>
  </template>

  <div class="flex space-x-8 items-center mt-12 mb-2 flex-col sm:flex-row">
    <h1>Deactivated players</h1>
    <div>
      <select x-model="inactivePlayersPager.pageSelect">
        <template x-for="{key, display} of inactivePlayersPager.pages">
          <option x-bind:value="key" x-text="display"></option>
        </template>
      </select>
    </div>
  </div>
  <div class="w-full mb-2">
    <input type="text" x-model="inactivePlayersPager.filters.handle" placeholder="coolplayer.bsky.social" class="w-full p-1 rounded-lg border"/>
  </div>
  <div class="grid-cols-3 space-x-4 hidden sm:grid">
    <div class="flex justify-center"><b>Player</b></div>
    <div class="flex justify-center"><b>Type</b></div>
    <div class="flex justify-center"><b>Reactivate player</b></div>
  </div>
  <template x-for="player in inactivePlayersPager.pageData">
    <div class="grid sm:grid-cols-3 space-x-4 border-b py-2" x-init="htmx && htmx.process($el)">
      <%- include('./fragments/player-link.ejs') %>
      <div class="flex justify-center items-center">
        <span x-text="player.booted ? 'Booted out' : 'Opted out'"></span>
      </div>
      <form hx-post="/player/restore-player" class="flex items-center sm:justify-center">
        <button x-show="`restore-${player.did}` !== showConfirm" @click.prevent.stop="showConfirm = `restore-${player.did}`">
          <div class="flex sm:justify-center items-center ">
            <div class="i-mdi-restore size-12"></div>
            <div class="sm:hidden"><b>Restore player</b></div>
          </div>
        </button>
        <%- include('../partials/activity-spinner.ejs') %>
        <input x-show="`restore-${player.did}` === showConfirm" type="submit" name="save" value="Restore player" class="htmx-request:hidden rounded-lg w-lg px-8 py-2 bg-green-600 hover:bg-green-400 text-white drop-shadow-lg focus:ring-3 ring-sky-500 outline-hidden" />
        <button x-show="`restore-${player.did}` === showConfirm" @click.prevent.stop="showConfirm = ''" class="htmx-request:hidden">
          <div class="i-mdi-close size-12 text-gray-400"></div>
        </button>
        <input type="hidden" name="player_did" x-bind:value="player.did"/>
        <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
      </form>
    </div>
  </template>
</div>
<div x-data="{showModal: null, modalData: {}}" @ss-open-modal.window="showModal = $event.detail.modal; modalData = $event.detail.modalData;" @ss-close-modal.window="showModal = null;">
  <template x-teleport="body">
    <div x-show="showModal">
      <div class="fixed h-dvh w-dvw top-0 left-0 z-50 bg-slate-700 opacity-80">
      </div>
      <div class="fixed max-h-dvh w-dvw top-0 left-0 z-50 overflow-auto flex justify-evenly items-stretch flex-wrap p-4">
        <%- include('../layouts/card.ejs', { bodyTemplate: 'player/address.ejs', xShow: "showModal === 'address'", adminMode: true }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'player/game-mode.ejs', xShow: "showModal === 'game-mode'", adminMode: true }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'admin/new-player.ejs', xShow: "showModal === 'new-player'", adminMode: true  }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'admin/player-notes.ejs', xShow: "showModal === 'player-notes'", adminMode: true  }) %>
      </div>
    </div>
  </template>
</div>
<dialog id="modal-dialogue" x-ref="modal" class="bg-slate-300 dark:bg-slate-800 backdrop:bg-slate-700 backdrop:opacity-80 max-w-xl min-w-80 w-full border-solid border rounded-xl border-slate-500 p-8 drop-shadow-lg ">
  <div class="w-full flex flex-col min-h-32">
    <div id="modal-dialogue-content" class="htmx-request:hidden">
    </div>
    <div class="grow flex justify-center items-center">
      <%- include('../partials/activity-spinner.ejs') %>
    </div>
  </div>
</dialog>