<div class="w-full px-12"
  x-data="<%= JSON.stringify({...pageData, showConfirm: ''}) %>"
  x-init="pager = secretsantanz.buildPager({
    handle: '',
    showQueued: true,
    showSent: true,
    showError: true,
  }, function(filters) {
    const cleanHandleFilter = filters.handle.replace(/@/g, '').toLowerCase();
    return nudges.filter((nudge) => 
      (!cleanHandleFilter || nudge.santa_handle.toLowerCase().includes(cleanHandleFilter) || nudge.giftee_handle.toLowerCase().includes(cleanHandleFilter))
      && (filters.showQueued || nudge.nudge_status !== 'queued')
      && (filters.showSent || nudge.nudge_status !== 'sent')
      && (filters.showError || !nudge.nudge_status.startsWith('error'))
    );
  })"
  @ss-nudge-deleted.window="nudges = nudges.filter((nudge) => nudge.nudge_id !== event.detail.id)"
>
  <div class="flex space-x-8 items-center mb-2 flex-col sm:flex-row">
    <h1>Nudges</h1>
    <div>
      <select x-model="pager.pageSelect">
        <template x-for="{key, display} of pager.pages">
          <option x-bind:value="key" x-text="display"></option>
        </template>
      </select>
    </div>
    <div>
      <input type="checkbox" id="show-queued" name="show-queued" x-model="pager.filters.showQueued"/>
      <label for="show-queued">Queued</label>
    </div>
    <div>
      <input type="checkbox" id="show-sent" name="show-sent" x-model="pager.filters.showSent"/>
      <label for="show-sent">Sent</label>
    </div>
    <div>
      <input type="checkbox" id="show-error" name="show-error" x-model="pager.filters.showError"/>
      <label for="show-error">Error</label>
    </div>
  </div>
  <div class="w-full mb-2">
    <input type="text" x-model="pager.filters.handle" placeholder="coolplayer.bsky.social" class="w-full p-1 rounded-lg border"/>
  </div>
  <div class="grid-cols-6 sm:space-x-4 hidden sm:grid">
    <div class="flex justify-center"><b>Santa</b></div>
    <div class="flex justify-center"><b>Giftee</b></div>
    <div class="flex justify-center"><b>Type</b></div>
    <div class="flex justify-center"><b>Created</b></div>
    <div class="flex justify-center"><b>Status</b></div>
    <div class="flex justify-center"><b>Delete</b></div>
  </div>
  <template x-for="nudge in pager.pageData">
    <div class="grid sm:grid-cols-6 sm:space-x-4 border-b py-2">
      <%- include('./fragments/match-player.ejs', {row_prop: 'nudge', description: 'Santa', side: 'santa'}) %>
      <%- include('./fragments/match-player.ejs', {row_prop: 'nudge', description: 'Giftee', side: 'giftee'}) %>
      <div class="flex sm:justify-center items-center text-lg">
        <div class="italic sm:hidden mr-2">Type:</div>
        <div x-text="nudge.nudge_type"></div>
      </div>
      <div class="flex sm:justify-center items-center text-lg">
        <div class="italic sm:hidden mr-2">Created:</div>
        <div x-text="secretsantanz.formatDatetime(nudge.created_at)"></div>
      </div>
      <div class="flex sm:justify-center items-center text-lg">
        <div class="italic sm:hidden mr-2">Status:</div>
        <div x-text="nudge.nudge_status"></div>
      </div>
      <form x-show="nudge.nudge_status !== 'sent'" hx-post="/nudge/delete-nudge" class="flex items-center sm:justify-center sm:col-span-1">
        <button x-show="`nudge-${nudge.nudge_id}` !== showConfirm" @click.prevent.stop="showConfirm = `nudge-${nudge.nudge_id}`">
          <div class="flex sm:justify-center items-center ">
            <div class="i-mdi-trash-can-outline size-10"></div>
            <div class="sm:hidden"><b>Delete nudge</b></div>
          </div>
        </button>
        <%- include('../partials/activity-spinner.ejs') %>
        <input x-show="`nudge-${nudge.nudge_id}` === showConfirm" type="submit" name="save" value="Delete nudge" class="htmx-request:hidden rounded-lg w-lg px-8 py-2 bg-red-600 hover:bg-red-400 text-white drop-shadow-lg focus:ring ring-sky-500 outline-none" />
        <button x-show="`nudge-${nudge.nudge_id}` === showConfirm" @click.prevent.stop="showConfirm = ''" class="htmx-request:hidden">
          <div class="i-mdi-close size-10 text-gray-400"></div>
        </button>
        <input type="hidden" name="nudge_id" x-bind:value="nudge.nudge_id"/>
        <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
      </form>
    </div>
  </template>
</div>