<script>
  async function initMap() {
    const { Map } = await google.maps.importLibrary("maps");
    const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker")

    const map = new Map(document.getElementById('reassign-map'), {
      mapId: 'reassign-map',
    });
    <% pageData.playersWhoCanHaveMoreGifees.forEach((santa) => { if (santa.address_location) { %>{
      const santaMarker = new AdvancedMarkerElement({
        map,
        position: <%- santa.address_location %>,
        title: <%- JSON.stringify(santa.handle) %>,
      });
      santaMarker.addEventListener('click', () => {
        window.dispatchEvent(new CustomEvent('ss-santa-selected', <%- JSON.stringify({ detail: { santa_handle: santa.handle } }) %>));
      })
    }<% } }); %>

    const gifteePin = new PinElement({
      background: '#0000FF',
      glyphColor: '#6666FF'
    });
    const gifteeMarker = new AdvancedMarkerElement({
      map,
      content: gifteePin.element,
    });

    window.ssMaps = {
      ...window.ssMaps,
      reassignMap: {
        map,
        gifteeMarker,
      }
    }
  }
</script>
<form hx-post="/match/reassign-giftee"
    @ss-open-modal.window="
      if ($event.detail.modal === 'reassign-giftee') {
        const {map, gifteeMarker} = window.ssMaps.reassignMap;
        gifteeMarker.title = modalData.giftee_handle;
        if (modalData.giftee_address_location) {
          const gifteeLocation = JSON.parse(modalData.giftee_address_location);
          gifteeMarker.position = gifteeLocation;
          map.setCenter(gifteeLocation);
          map.setZoom(10);
        } else {
          gifteeMarker.position = null;
        }
      }
    "
    @ss-santa-selected.window="modalData.santa_handle = $event.detail.santa_handle"
    @ss-reassign-error.window="modalData.reassignError = $event.detail.value"
  >
  <div class="space-y-8">
    <h1>Reassign giftee for @<span x-text="modalData.giftee_handle"></span></h1>
    <div>
      <%- include('../partials/input-text.ejs', {id: 'reassign_giftee_santa_handle', name: 'santa_handle', label: 'Santa', placeholder: 'coolplayer.bsky.social', xModel: 'modalData.santa_handle', attributes: {
        list: 'players-available-to-santa',
        autocomplete: 'false',
        'x-effect': 'modalData.reassignError = modalData.santa_handle ? null : null',
      }}); %>
      <div x-show="modalData.reassignError === 'santa-not-found'" x-text="'Cannot find player ' + modalData.santa_handle + ' to assign.'" class="text-red-600"></div>
    </div>
    <% if (locals.super_santa_match) { %>
      <div x-show="modalData.reassignError === 'too-many-giftees'" class="text-orange-600 text-lg">
        <p><span x-text="modalData.santa_handle"></span> can't have more giftees.</p>
        <p>Save again to assign anyway.</p>
      </div>
    <% } else { %>
      <div x-show="modalData.reassignError === 'too-many-giftees'" x-text="modalData.santa_handle + '  can\'t have more giftees.'" class="text-red-600"></div>
    <% } %>
    <%- include('../partials/input-submit-with-activity.ejs', { xBindDisabled: 'false' }); %>
  </div>
  <% if (locals.super_santa_match) { %>
    <input type="hidden" name="super_santa_match" value="<%= super_santa_match %>"/>
    <input type="hidden" name="force" x-bind:value="modalData.reassignError === 'too-many-giftees' ? 'true' : 'false'"/>
  <% } %>
  <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
  <input type="hidden" name="match_id" x-bind:value="modalData.match_id"/>
  <div class="flex justify-center mt-12">
    <div class="gme-map size-96" id="reassign-map"></div>
  </div>
</form>