<form hx-boost="true" method="post" x-data="<%= JSON.stringify(settings) %>" class="space-y-8 w-full max-w-lg">
  <%- include('../partials/input-checkbox.ejs', {id: 'signups_open', label: 'Signups open', xModel: 'signups_open'}); %>
  <%- include('../partials/input-text.ejs', {id: 'signups_open_date', label: 'Signups open date', placeholder: '', xModel: 'signups_open_date', input_type: 'date'}); %>
  <%- include('../partials/input-text.ejs', {id: 'signups_close_date', label: 'Signups closed date', placeholder: '', xModel: 'signups_close_date', input_type: 'date'}); %>
  <%- include('../partials/input-text.ejs', {id: 'matches_sent_date', label: 'Matches sent date', placeholder: '', xModel: 'matches_sent_date', input_type: 'date'}); %>
  <%- include('../partials/input-text.ejs', {id: 'send_by_date', label: 'Send by date', placeholder: '', xModel: 'send_by_date', input_type: 'date'}); %>
  <%- include('../partials/input-text.ejs', {id: 'opening_date', label: 'Opening date', placeholder: '', xModel: 'opening_date', input_type: 'date'}); %>
  <%- include('../partials/input-text.ejs', {id: 'hashtag', label: 'Hashtag', placeholder: '', xModel: 'hashtag' }); %>
  <%- include('../partials/input-text.ejs', {id: 'elf_list', label: 'Elf list', placeholder: '', xModel: 'elf_list' }); %>
  <%- include('../partials/input-checkbox.ejs', {id: 'auto_follow', label: 'Auto-follow players', xModel: 'auto_follow'}); %>
  <%- include('../partials/input-checkbox.ejs', {id: 'send_messages', label: 'Send nudges & DMs', xModel: 'send_messages'}); %>
  <%- include('../partials/input-text.ejs', {id: 'nudge_rate', label: 'Nudge rate', placeholder: '', xModel: 'nudge_rate'}); %>
  <%- include('../partials/input-text.ejs', {id: 'dm_rate', label: 'DM rate', placeholder: '', xModel: 'dm_rate'}); %>
  <%- include('../partials/input-checkbox.ejs', {id: 'feed_player_only', label: 'Only show players in feeds', xModel: 'feed_player_only'}); %>
  <%- include('../partials/input-text.ejs', {id: 'feed_max_distance_from_tag', label: 'Feed - Max distance from tag', placeholder: '', xModel: 'feed_max_distance_from_tag', input_type: 'number'}); %>
  <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
  <%- include('../partials/activity-spinner.ejs') %>
  <input type="submit" name="save" value="Save" class="htmx-request:hidden rounded-lg w-full px-8 py-2 bg-bsky hover:bg-sky-500 text-white drop-shadow-lg focus:ring ring-sky-500 outline-none" />
</form>
<form hx-post="/admin/settings/reset-game" hx-swap="none" class="space-y-8 w-full max-w-lg mt-16" hx-confirm="Are you really sure? This will delete all players, matches, presents, EVERYTHING!">
  <h1>Danger!! Danger!! Danger!!</h1>
  <%- include('../partials/activity-spinner.ejs') %>
  <input type="submit" name="reset-game" value="Reset all data" class="htmx-request:hidden rounded-lg w-full px-8 py-2 bg-red-600 hover:bg-red-400 text-white drop-shadow-lg focus:ring ring-sky-500 outline-none" />
  <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
</form>