<div class="w-full px-12"
  x-data="<%= JSON.stringify({...pageData, showConfirm: ''}) %>"
  x-init="pager = secretsantanz.buildPager({
    handle: '',
    showQueued: true,
    showSent: true,
    showError: true,
  }, function(filters) {
    const cleanHandleFilter = filters.handle.replace(/@/g, '').toLowerCase();
    return tracking.filter((tracking) => 
      (!cleanHandleFilter || tracking.santa_handle.toLowerCase().includes(cleanHandleFilter) || tracking.giftee_handle.toLowerCase().includes(cleanHandleFilter))
      && (filters.showQueued || tracking.tracking_status !== 'queued')
      && (filters.showSent || tracking.tracking_status !== 'sent')
      && (filters.showError || !tracking.tracking_status.startsWith('error'))
    );
  })"
  @ss-tracking-deactivated.window="tracking = secretsantanz.removeTracking(tracking, event.detail.id)"
  @ss-tracking-updated.window="tracking = secretsantanz.replaceTracking(tracking, event.detail)"
>
  <div class="flex space-x-8 items-center mb-2 flex-col lg:flex-row">
    <h1>Tracking</h1>
    <div>
      <select x-model="pager.pageSelect">
        <template x-for="{key, display} of pager.pages">
          <option x-bind:value="key" x-text="display"></option>
        </template>
      </select>
    </div>
    <div>
      <input type="checkbox" id="show-queued" name="show-queued" x-model="pager.filters.showQueued"/>
      <label for="show-queued">Queued</label>
    </div>
    <div>
      <input type="checkbox" id="show-sent" name="show-sent" x-model="pager.filters.showSent"/>
      <label for="show-sent">Sent</label>
    </div>
    <div>
      <input type="checkbox" id="show-error" name="show-error" x-model="pager.filters.showError"/>
      <label for="show-error">Error</label>
    </div>
  </div>
  <div class="w-full mb-2">
    <input type="text" x-model="pager.filters.handle" placeholder="coolplayer.bsky.social" class="w-full p-1 rounded-lg border"/>
  </div>
  <div class="grid-cols-8 lg:space-x-4 hidden lg:grid">
    <div class="flex justify-center"><b>Santa</b></div>
    <div class="flex justify-center"><b>Giftee</b></div>
    <div class="flex justify-center"><b>Shipped</b></div>
    <div class="flex justify-center"><b>Carrier</b></div>
    <div class="flex justify-center"><b>Tracking</b></div>
    <div class="flex justify-center"><b>Wrapped</b></div>
    <div class="flex justify-center"><b>Status</b></div>
    <div class="flex justify-center"><b>Action</b></div>
  </div>
  <template x-for="tracking in pager.pageData">
    <div class="grid lg:grid-cols-8 lg:space-x-4 border-b py-2">
      <%- include('./fragments/match-player.ejs', {row_prop: 'tracking', description: 'Santa', side: 'santa'}) %>
      <%- include('./fragments/match-player.ejs', {row_prop: 'tracking', description: 'Giftee', side: 'giftee'}) %>
      <div class="flex lg:justify-center items-center text-lg">
        <div class="italic lg:hidden mr-2">Sent:</div>
        <div x-text="secretsantanz.formatDate(tracking.shipped_date)"></div>
      </div>
      <div class="flex lg:justify-center items-center text-lg">
        <div class="italic lg:hidden mr-2">Carrier:</div>
        <div x-text="tracking.carrier"></div>
      </div>
      <div class="flex lg:justify-center items-center text-lg">
        <div class="italic lg:hidden mr-2">Tracking:</div>
        <div x-text="tracking.tracking_number"></div>
      </div>
      <div class="flex lg:justify-center items-center text-lg">
        <div class="italic lg:hidden mr-2">Wrapped:</div>
        <div x-text="tracking.giftwrap_status ? 'Y' : 'N'"></div>
      </div>
      <div class="flex lg:justify-center items-center text-lg">
        <div class="italic lg:hidden mr-2">Status:</div>
        <div x-text="tracking.tracking_status"></div>
      </div>
      <div class="lg:flex lg:items-center lg:justify-center lg:space-x-4">
        <button @click="$dispatch('ss-open-modal', {modal: 'edit-tracking', modalData: {...tracking}})" class="flex items-center rounded-sm">
          <div class="flex lg:justify-center items-center">
            <div class="i-mdi-pencil size-10"></div>
            <div class="lg:hidden"><b>Edit tracking</b></div>
          </div>
        </button>
        <form hx-post="/admin/tracking/deactivate">
          <button x-show="`tracking-${tracking.tracking_id}` !== showConfirm" @click.prevent.stop="showConfirm = `tracking-${tracking.tracking_id}`">
            <div class="flex lg:justify-center items-center ">
              <div class="i-mdi-trash-can-outline size-10"></div>
              <div class="lg:hidden"><b>Delete tracking</b></div>
            </div>
          </button>
          <%- include('../partials/activity-spinner.ejs') %>
          <input x-show="`tracking-${tracking.tracking_id}` === showConfirm" type="submit" name="save" value="Delete tracking" class="htmx-request:hidden rounded-lg w-lg px-8 py-2 bg-red-600 hover:bg-red-400 text-white drop-shadow-lg focus:ring ring-sky-500 outline-none" />
          <button x-show="`tracking-${tracking.tracking_id}` === showConfirm" @click.prevent.stop="showConfirm = ''" class="htmx-request:hidden">
            <div class="i-mdi-close size-10 text-gray-400"></div>
          </button>
          <input type="hidden" name="tracking_id" x-bind:value="tracking.tracking_id"/>
          <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
        </form>
      </div>
    </div>
  </template>
</div>
<div x-data="{showModal: null, modalData: {}}" @ss-open-modal.window="showModal = $event.detail.modal; modalData = $event.detail.modalData;" @ss-close-modal.window="showModal = null;">
  <template x-teleport="body">
    <div x-show="showModal">
      <div class="fixed h-dvh w-dvw top-0 left-0 z-50 bg-slate-700 opacity-80">
      </div>
      <div class="fixed max-h-dvh w-dvw top-0 left-0 z-50 overflow-auto flex justify-evenly items-stretch flex-wrap p-4">
        <%- include('../layouts/card.ejs', { bodyTemplate: 'player/add-tracking.ejs', xShow: "showModal === 'edit-tracking'", mode: 'edit', adminMode: true }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'admin/player-notes.ejs', xShow: "showModal === 'player-notes'", adminMode: true  }) %>
      </div>
    </div>
  </template>
</div>