<div class="w-full px-12"
  x-data="<%= JSON.stringify({...pageData, showConfirm: ''}) %>"
  x-init="pager = secretsantanz.buildPager({
    handle: '',
    showWithPresentUpdates: true,
    showContacted: true,
    showResolved: false,
    showHasGift: false,
  }, function(filters) {
    const cleanHandleFilter = filters.handle.replace(/@/g, '').toLowerCase();
    return matches.filter((match) => 
      (!cleanHandleFilter || match.santa_handle.toLowerCase().includes(cleanHandleFilter) || match.giftee_handle.toLowerCase().includes(cleanHandleFilter))
      && (filters.showWithPresentUpdates || match.nudge_present_update_count === 0)
      && (filters.showContacted || !match.contacted)
      && (filters.showResolved || !match.followup_action)
      && (filters.showHasGift || (match.tracking_count === 0 || match.tracking_missing_count > 0))
    );
  })"
  @ss-reload-data.window="Object.assign($data, JSON.parse(await $fetch(window.location.pathname + '?data=true')));"
>
  <div class="flex space-x-8 items-center mb-2 flex-col sm:flex-row">
    <h1>People without gifts</h1>
    <div>
      <select x-model="pager.pageSelect">
        <template x-for="{key, display} of pager.pages">
          <option x-bind:value="key" x-text="display"></option>
        </template>
      </select>
    </div>
    <div>
      <input type="checkbox" id="show-with-present-updates" name="show-with-present-updates" x-model="pager.filters.showWithPresentUpdates"/>
      <label for="show-with-present-updates">Has sent update</label>
    </div>
    <div>
      <input type="checkbox" id="show-contacted" name="show-contacted" x-model="pager.filters.showContacted" />
      <label for="show-contacted">Contacted</label>
    </div>
    <div>
      <input type="checkbox" id="show-resolved" name="show-resolved" x-model="pager.filters.showResolved" />
      <label for="show-resolved">Resolved</label>
    </div>
    <div>
      <input type="checkbox" id="show-has-gift" name="show-has-gift" x-model="pager.filters.showHasGift" />
      <label for="show-has-gift">Has gift</label>
    </div>
  </div>
  <div class="w-full mb-2">
    <input type="text" x-model="pager.filters.handle" placeholder="coolplayer.bsky.social" class="w-full p-1 rounded-lg border"/>
  </div>
  <div class="grid-cols-6 lg:space-x-4 hidden lg:grid">
    <div class="flex justify-center"><b>Santa</b></div>
    <div class="flex justify-center"><b>Giftee</b></div>
    <div class="flex justify-center"><b>Category</b></div>
    <div class="flex justify-center"><b>Present updates sent</b></div>
    <div class="flex justify-center"><b>Contacted</b></div>
    <div class="flex justify-center"><b>Action</b></div>
  </div>
  <template x-for="match in pager.pageData">
    <div class="grid sm:grid-cols-3 lg:grid-cols-6 lg:space-x-4 border-b py-2">
      <%- include('./fragments/match-player.ejs', {description: 'Santa', side: 'santa'}) %>
      <%- include('./fragments/match-player.ejs', {description: 'Giftee', side: 'giftee'}) %>
      <div class="flex lg:justify-center items-center text-lg">
        <div class="italic lg:hidden mr-2">Category:</div>
        <div x-text="match.super_santa_match ? 'Super santa' : match.tracking_count === 0 ? 'No tracking' : 'Present missing'"></div>
      </div>
      <div class="flex lg:justify-center items-center text-lg">
        <div class="italic lg:hidden mr-2">Present updates sent:</div>
        <div x-text="match.nudge_present_update_count"></div>
      </div>
      <form hx-post="/match/mark-contacted" class="flex items-center sm:justify-center lg:col-span-1">
        <div class="italic lg:hidden mr-2">Contacted:</div>
        <div>
          <div x-text="match.contacted && secretsantanz.formatDatetime(match.contacted)"></div>
          <%- include('../partials/activity-spinner.ejs') %>
          <button type="submit" class="flex items-center rounded-sm"><div class="i-mdi-message-bubble mr-1 size-5"></div><div>Mark contacted</div></button>
          <input type="hidden" name="match_id" x-bind:value="match.match_id"/>
          <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
        </div>
      </form>
      <div class="flex lg:justify-center items-center text-lg">
        <div class="italic lg:hidden mr-2">Action:</div>
        <div x-show="match.followup_action" x-text="match.followup_action"></div>
        <div x-show="!match.followup_action">
          <button @click="$dispatch('ss-open-modal', {modal: 'reassign-giftee', modalData: {...match}})" class="flex items-center rounded-sm"><div class="i-mdi-rotate-3d-variant mr-1 size-5"></div><div>Assign super santa</div></button>
          <form hx-post="/match/mark-sorted">
            <%- include('../partials/activity-spinner.ejs') %>
            <button type="submit" class="htmx-request:hidden flex items-center rounded-sm"><div class="i-mdi-tick mr-1 size-5"></div><div>Mark sorted</div></button>
            <input type="hidden" name="match_id" x-bind:value="match.match_id"/>
            <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
          </form>
        </div>
      </div>
    </div>
  </template>
  
  <div class="mt-12">
    <h1>Players available to Santa</h1>
    <template x-for="player in playersWhoCanHaveMoreGifees.slice(0, 15)">
      <div class="mb-2 flex">
        <%- include('./fragments/player-link.ejs') %>
        <div class="ml-2" x-text="`(${player.giftee_count} / ${player.max_giftees})`"></div>
      </div>
    </template>
    <div x-show="playersWhoCanHaveMoreGifees.length > 15">... and <span x-text="playersWhoCanHaveMoreGifees.length - 15"></span> more</div>
    <datalist id="players-available-to-santa"> 
      <template x-for="player in playersWhoCanHaveMoreGifees">
        <option x-bind:value="player.handle"></option>
      </template>
    </datalist>
  </div>
</div>
<div x-data="{showModal: null, modalData: {}}" @ss-open-modal.window="showModal = $event.detail.modal; modalData = $event.detail.modalData;" @ss-close-modal.window="showModal = null;">
  <template x-teleport="body">
    <div x-show="showModal">
      <div class="fixed h-dvh w-dvw top-0 left-0 z-50 bg-slate-700 opacity-80">
      </div>
      <div class="fixed max-h-dvh w-dvw top-0 left-0 z-50 overflow-auto flex justify-evenly items-stretch flex-wrap p-4">
        <%- include('../layouts/card.ejs', { bodyTemplate: 'admin/reassign-giftee.ejs', xShow: "showModal === 'reassign-giftee'", super_santa_match: 'true' }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'admin/player-notes.ejs', xShow: "showModal === 'player-notes'", adminMode: true  }) %>
      </div>
    </div>
  </template>
</div>