<div class="group">
  <label for="<%= id %>" class="block -mb-8 mt-2 relative pl-2 text-sm group-focus-within:text-blue-700 group-focus-within:dark:text-blue-300 scheme-light dark:scheme-dark"><%= label %></label>
  <input x-model="<%= locals.xModel %>" type="<%= locals.input_type || 'text' %>" id="<%= id %>" name="<%= id %>" placeholder="<%= placeholder %>" class="p-2 pt-10 rounded-lg border-slate-300 border bg-slate-50 dark:bg-slate-950 w-full focus:ring ring-sky-500 outline-none disabled:opacity-50"/>
</div>