<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Secret Santa NZ</title>
    <link href="/public/style.css" rel="stylesheet">
    <style>[x-cloak] { display: none !important; }</style>
    <script src="/public/index.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/gh/hankhank10/alpine-fetch@main/alpine-fetch.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body
    class="scheme-light dark:scheme-dark bg-slate-300 text-slate-800 dark:bg-slate-800 dark:text-slate-200"
    hx-swap="outerHTML"
    hx-disabled-elt=".htmx-request input, .htmx-request select, .htmx-request form"
    @keyup.escape="$dispatch('ss-close-modal')"
    x-data="{userMenuOpen: false}" @click="userMenuOpen = false"
    <% if (locals.replaceUrl) { %> x-init="window.history.replaceState(null, '', <%= JSON.stringify(replaceUrl) %>)"<% } %>
  >
    <div class="flex flex-col">
      <div class="sticky top-0 bg-bsky text-white drop-shadow-lg mb-8 z-50">
        <div class="flex items-center p-4 gap-4">
          <h1><a href="/" class="font-semibold">Secret Santa NZ</a></h1>
          <% if (locals.admin) { %>
            <div><a href="/admin" class="font-semibold">Elf tools</a></div>
            <div><a href="/admin/settings" class="font-semibold">Game setup</a></div>
          <% } %>
          <div class="flex-grow"></div>
          <% if (player) { %>
            <div class="relative" x-data x-cloak>
              <% if (!player.booted) { %>
                <button @click.stop.prevent="userMenuOpen = !userMenuOpen" class="rounded-full flex-shrink-0">
                  <%- include('../partials/avatar.ejs', {avatar_url: player.avatar_url}) %>
                  <span class="sr-only">Open menu</span>
                </button>
                <div x-show="userMenuOpen" class="absolute top-10 right-0 min-w-48  border-solid border rounded-xl border-slate-500 bg-slate-100 dark:bg-slate-900 p-8 drop-shadow-lg">
                  <ul>
                    <li>
                      <button hx-post="/player/logout?csrfToken=<%= csrfToken %>" class="p-2 w-full text-left flex-shrink-0">Logout</button>
                    </li>
                  </ul>
                </div>
                <div class="hidden" hx-get="/session-keep-alive" hx-trigger="every 1m"></div>
              <% } else { %>
                <%- include('../partials/avatar.ejs', {avatar_url: player.avatar_url}) %>
              <% } %>
            </div>
          <% } %>
        </div>
      </div>
      <div class="flex-grow grid gap-8 p-4 justify-items-center<% if (!locals.oneColumn) { %> lg:grid-cols-2 xl:grid-cols-3 2xl:grid-4<% } %>" x-data x-cloak>
          <%- body %>
      </div>
    </div>
    <script>
      function initAutocompletes() {
        const addressInputs = document.querySelectorAll('input[type="address"]')
        for (const input of addressInputs) {
          input.setAttribute('type', 'text');
          const addressAutocomplete = new google.maps.places.Autocomplete(input, {
            componentRestrictions: {
              country: 'nz'
            }
          });
          addressAutocomplete.addListener("place_changed", () => {
            const place = addressAutocomplete.getPlace();
            input.dispatchEvent(new CustomEvent('ss-address-changed', {detail: {address: place.formatted_address}}))
          });
        }
      }
    </script>
    <script async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN9m5sRKCu9Ra1rjBd2hnKqrGMm5xLjoM&loading=async&libraries=places&callback=initAutocompletes">
    </script>
  </body>
</html>