<form hx-post="<%= mode === 'add' ? '/player/add-tracking' : '/admin/tracking/update' %>" hx-swap="none" x-data="<%= JSON.stringify({shipped_date: formatDateIso(new Date())}) %>" id="add-tracking">
  <div class="space-y-8">
    <% if (mode === 'add') { %>
      <h1>Add tracking for @<span x-text="modalData.giftee_handle"></span></h1>
      <p>Let @<span x-text="modalData.giftee_handle"></span> (and the elves) know that their present is on their way by adding the tracking number here.</p>
      <p>This will DM @<span x-text="modalData.giftee_handle"></span> the tracking number so they can watch out for your gift.</p>
    <% } else if (mode === 'edit') { %>
      <h1>Edit tracking for @<span x-text="modalData.giftee_handle"></span></h1>
      <p>Note: this will <b>not</b> send a new DM if the DM has already been sent, but the corrected details will be shown in the app.</p>
      <% } %>
    <%- include('../partials/input-text.ejs', {id: 'shipped_date', label: 'Date shipped', placeholder: '', xModel: 'shipped_date', input_type: 'date'}); %>
    <%- include('../partials/drop-down.ejs', {id: 'carrier', xModel: 'modalData.carrier', label: 'Carrier', options: carriers}); %>
    <%- include('../partials/input-text.ejs', {id: 'tracking_number', label: 'Tracking number', placeholder: 'AA123456789NZ', xModel: 'modalData.tracking_number'}); %>
    <fieldset  class="p-2 rounded-lg border-slate-300 border bg-slate-50 dark:bg-slate-950 w-full focus:ring ring-sky-500 outline-none disabled:opacity-50">
      <legend class="pl-2 text-sm group-focus-within:text-blue-700 group-focus-within:dark:text-blue-300">Giftwrap situation</legend>
      <div>
        <input type="radio" id="giftwrap_status_wrapped" name="giftwrap_status" value="1"/>
        <label for="giftwrap_status_wrapped">Gifts are wrapped</label>
      </div>
      <div>
        <input type="radio" id="giftwrap_status_naked" name="giftwrap_status" value="0" checked />
        <label for="giftwrap_status_naked">Gifts are naked</label>
      </div>
    </fieldset>
    <%- include('../partials/error.ejs', { elementId: 'add-tracking-error' }) %>
    <%- include('../partials/input-submit-with-activity.ejs', {xBindDisabled: '!shipped_date || !modalData.tracking_number', label: 'Save'}); %>
  </div>
  <% if (mode === 'add') { %>
    <input type="hidden" name="match_id" x-bind:value="modalData.match_id"/>
  <% } else if (mode === 'edit') { %>
    <input type="hidden" name="tracking_id" x-bind:value="modalData.tracking_id"/>
  <% } %>
  <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
<form>  