<form hx-post="/player/update-address" @ss-address-changed="modalData.address = $event.detail.address;">
  <div class="space-y-8">
    <% if (locals.adminMode) { %>
      <h1 x-text="'Enter address for @' + modalData.handle"></h1>
    <% } else { %>
      <h1>Enter address for @<%= player.handle %></h1>
    <% } %>
    <%- include('../partials/input-text.ejs', {id: 'address', label: 'Address', placeholder: '123 Candy Cane Lane, North Pole', xModel: 'modalData.address', input_type: 'address'}); %>
    <%- include('../partials/input-text.ejs', {id: 'delivery_instructions', label: 'Delivery instructions', placeholder: 'Leave by back door', xModel: 'modalData.delivery_instructions'}); %>
    <%- include('../partials/input-submit-with-activity.ejs', { xBindDisabled: '!modalData.address' }); %>
  </div>
  <input type="hidden" name="player_did" x-bind:value="modalData.did"/>
  <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
</form>