<form action="/player" method="patch" hx-boost="true" x-data="<%= JSON.stringify({address: player.address, delivery_instructions: player.delivery_instructions })%>" @ss-address-changed.window="address = $event.detail.address;" class="m-0">
  <div class="space-y-8">
    <h1 class="text-xl font-semibold">Enter address</h1>
    <%- include('../partials/input-text.ejs', {id: 'address', label: 'Address', placeholder: '123 Candy Cane Lane, North Pole', xModel: 'address'}); %>
    <%- include('../partials/input-text.ejs', {id: 'delivery_instructions', label: 'Delivery instructions', placeholder: 'Leave by back door', xModel: 'delivery_instructions'}); %>
    <div class="flex items-center">
      <div class="flex-grow"></div>
      <%- include('../partials/input-submit-with-activity.ejs', { xBindDisabled: '!address' }); %>
    </div>
  </div>
  <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
</form>
