<%- include('../layouts/card.ejs', { bodyTemplate: 'player/my-giftee.ejs' }) %>
<%- include('../layouts/card.ejs', { bodyTemplate: 'player/presents-for-me.ejs' }) %>
<%- include('../layouts/card.ejs', { bodyTemplate: 'player/my-details.ejs' }) %>
<%- include('../layouts/card.ejs', { bodyTemplate: 'player/presents-ive-sent.ejs' }) %>
<div x-data="{showModal: null, modalData: {}}" @ss-open-modal.window="showModal = $event.detail.modal; modalData = $event.detail.modalData;">
  <template x-teleport="body">
    <div x-show="showModal">
      <div class="fixed h-dvh w-dvw top-0 left-0 z-50 bg-slate-700 opacity-80">
      </div>
      <div class="fixed h-dvh w-dvw top-0 left-0 z-50 overflow-auto flex justify-evenly items-stretch flex-wrap p-4">
        <div x-show="showModal === 'address'">
          <%- include('../layouts/card.ejs', { bodyTemplate: 'player/address.ejs' }) %>
        </div>
        <div x-show="showModal === 'game-mode'">
          <%- include('../layouts/card.ejs', { bodyTemplate: 'player/game-mode.ejs' }) %>
        </div>
      </div>
    </div>
  </template>
</div>