<% if (!player.following_santa) { %>
  <div class="lg:col-span-2 xl:col-span-3 2xl:col-span-4 w-full border-solid border rounded-xl border-slate-500 bg-slate-100 dark:bg-slate-900 p-8 drop-shadow-lg flex items-center">
    <div class="flex-shrink-0 flex-grow-0 i-mdi-error-outline size-16 mr-4 text-red-600"></div>
    <div class="flex-shrink flex-grow">
      <h1>You must follow @secretsanta.nz</h1>
      <p>You need to follow <a href="https://bsky.app/profile/secretsanta.nz" target="_blank">@secretsanta.nz</a> to complete your registration.</p>
    </div>
  </div>
<% } %>
<% if (player.player_dm_status.startsWith('error:')) { %>
  <div class="lg:col-span-2 xl:col-span-3 2xl:col-span-4 w-full border-solid border rounded-xl border-slate-500 bg-slate-100 dark:bg-slate-900 p-8 drop-shadow-lg flex items-center">
    <div class="flex-shrink-0 flex-grow-0 i-mdi-error-outline size-16 mr-4 text-red-600"></div>
    <div class="flex-shrink flex-grow">
      <h1>@secretsanta.nz could not DM you</h1>
      <p>Maybe you have DMs closed? Please DM <a href="https://bsky.app/profile/secretsanta.nz" target="_blank">@secretsanta.nz</a> and we'll sort it out.</p>
    </div>
  </div>
<% } %>
<%- include('../layouts/card.ejs', { bodyTemplate: 'player/my-giftee.ejs' }) %>
<%- include('../layouts/card.ejs', { bodyTemplate: 'player/presents-for-me.ejs' }) %>
<%- include('../layouts/card.ejs', { bodyTemplate: 'player/my-details.ejs' }) %>
<div class="hidden xl:block 2xl:hidden"></div>
<%- include('../layouts/card.ejs', { bodyTemplate: 'player/presents-ive-sent.ejs' }) %>
<div x-data="{showModal: null, modalData: {}}" @ss-open-modal.window="showModal = $event.detail.modal; modalData = $event.detail.modalData;" @ss-close-modal.window="showModal = null;">
  <template x-teleport="body">
    <div x-show="showModal">
      <div class="fixed h-dvh w-dvw top-0 left-0 z-50 bg-slate-700 opacity-80">
      </div>
      <div class="fixed max-h-dvh w-dvw top-0 left-0 z-50 overflow-auto flex justify-evenly items-stretch flex-wrap p-4">
        <%- include('../layouts/card.ejs', { bodyTemplate: 'player/address.ejs', xShow: "showModal === 'address'" }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'player/game-mode.ejs', xShow: "showModal === 'game-mode'" }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'player/confirm-opt-out.ejs', xShow: "showModal === 'opt-out'" }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'player/add-tracking.ejs', xShow: "showModal === 'add-tracking'" }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'player/send-nudge.ejs', xShow: "showModal === 'send-nudge'" }) %>
      </div>
    </div>
  </template>
</div>