<div class="grow p-4 justify-items-center grid gap-8 lg:grid-cols-2 xl:grid-cols-3" id="player-home">
<% if (player.player_type === 'bluesky') { %>
  <% if (!player.following_santa) { %>
    <div class="max-lg:max-w-xl lg:col-span-2 xl:col-span-3 w-full border-solid border rounded-xl border-slate-500 bg-slate-100 dark:bg-slate-900 p-8 drop-shadow-lg flex items-center">
      <div class="shrink-0 grow-0 i-mdi-error-outline size-16 mr-4 text-red-600"></div>
      <div class="shrink grow">
        <h1>You must follow @secretsanta.nz</h1>
        <p>You need to follow <a href="https://bsky.app/profile/secretsanta.nz" target="_blank">@secretsanta.nz</a> to complete your registration.</p>
      </div>
    </div>
  <% } %>
  <% if (player.player_dm_status.startsWith('error:')) { %>
    <div class="max-lg:max-w-xl lg:col-span-2 xl:col-span-3 w-full border-solid border rounded-xl border-slate-500 bg-slate-100 dark:bg-slate-900 p-8 drop-shadow-lg flex items-center">
      <div class="shrink-0 grow-0 i-mdi-error-outline size-16 mr-4 text-red-600"></div>
      <div class="shrink grow">
        <h1>@secretsanta.nz could not DM you</h1>
        <p>Make sure you <a href="/faq#how-do-i-enable-dms">enable DMs from people you follow</a>.</p>
        <button class="mt-4" hx-trigger="click" hx-post="/player/retry-dm" hx-vals="<%= JSON.stringify({csrfToken}) %>"><div class="flex items-center"><div class="i-mdi-email-refresh-outline mr-2 size-6"></div>Retry...</div></button>
      </div>
    </div>
  <% } %>
<% } else if (player.player_type === 'mastodon') { %>
  <% if (!player.following_santa) { %>
    <div class="max-lg:max-w-xl lg:col-span-2 xl:col-span-3 w-full border-solid border rounded-xl border-slate-500 bg-slate-100 dark:bg-slate-900 p-8 drop-shadow-lg flex items-center">
      <div class="shrink-0 grow-0 i-mdi-error-outline size-16 mr-4 text-red-600"></div>
      <div class="shrink grow">
        <h1>You must follow @secretsanta.nz@bsky.brid.gy</h1>
        <p>You need to follow <a href="https://<%= player.mastodon_host %>/@secretsanta.nz@bsky.brid.gy" target="_blank">@secretsanta.nz@bsky.brid.gy</a> to complete your registration.</p>
      </div>
    </div>
  <% } %>
  <% if (!player.mastodon_following_santa) { %>
    <div class="max-lg:max-w-xl lg:col-span-2 xl:col-span-3 w-full border-solid border rounded-xl border-slate-500 bg-slate-100 dark:bg-slate-900 p-8 drop-shadow-lg flex items-center">
      <div class="shrink-0 grow-0 i-mdi-error-outline size-16 mr-4 text-red-600"></div>
      <div class="shrink grow">
        <h1>You must follow @<%= santaMastodonHandle %></h1>
        <p>You need to follow <a href="https://<%= player.mastodon_host %>/@<%= santaMastodonUsername %><%= player.mastodon_host === santaMastodonHost ? '' : '@' + santaMastodonHost %>" target="_blank">@<%= santaMastodonHandle %></a> to complete your registration.</p>
      </div>
    </div>
  <% } %>
<% } %>
<% if (settings.show_badges && badges.length > 0) { %>
  <div class="max-lg:max-w-xl lg:col-span-2 xl:col-span-3 w-full border-solid border rounded-xl border-slate-500 bg-slate-100 dark:bg-slate-900 p-8 drop-shadow-lg">
    <div class="flex">
      <div class="grow shrink">
        <h1>My badges</h1>
      </div>
      <div class="size-10 shrink-0 grow-0 i-mdi-star"></div>
    </div>
    <div class="grid justify-items-center <%= (function() {
      switch (badges.length) {
        case 1:
          return '';
        case 2:
          return 'grid-cols-2'
        case 3:
          return 'grid-cols-3'
        case 4:
          return 'grid-cols-4'
        case 5:
          return 'grid-cols-5'
        default:
          return '';
      }
    })()%>">
      <% badges.forEach((badge) => { %>
        <button type="button" @click="$dispatch('ss-open-modal', {modal: 'badge-detail', modalData: <%= JSON.stringify(badge) %>})" class="block shrink">
          <img src="<%= badge.image_url %>" alt="<%= badge.title %>" class="object-contain mx-2 max-h-16 drop-shadow-lg"/>
        </button> 
      <% }) %>
    </div>
  </div>
<% } %>
<%- include('../layouts/card.ejs', { bodyTemplate: 'player/key-information.ejs' }) %>
<%- include('../layouts/card.ejs', { bodyTemplate: 'player/my-details.ejs' }) %>
<%- include('../layouts/card.ejs', { bodyTemplate: 'player/my-giftee.ejs' }) %>
<%- include('../layouts/card.ejs', { bodyTemplate: 'player/presents-for-me.ejs' }) %>
<%- include('../layouts/card.ejs', { bodyTemplate: 'player/presents-ive-sent.ejs' }) %>
<%- include('../layouts/card.ejs', { bodyTemplate: 'player/nudges-ive-sent.ejs' }) %>
</div>
<div x-data="{showModal: null, modalData: {}}" @ss-open-modal.window="showModal = $event.detail.modal; modalData = $event.detail.modalData;" @ss-close-modal.window="showModal = null;">
  <template x-teleport="body">
    <div x-show="showModal">
      <div class="fixed h-dvh w-dvw top-0 left-0 z-50 bg-slate-700 opacity-80">
      </div>
      <div class="fixed max-h-dvh w-dvw top-0 left-0 z-50 overflow-auto flex justify-evenly items-stretch flex-wrap p-4">
        <%- include('../layouts/card.ejs', { bodyTemplate: 'player/address.ejs', xShow: "showModal === 'address'" }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'player/game-mode.ejs', xShow: "showModal === 'game-mode'" }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'player/confirm-opt-out.ejs', xShow: "showModal === 'opt-out'" }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'player/add-tracking.ejs', xShow: "showModal === 'add-tracking'", mode: 'add' }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'player/send-nudge.ejs', xShow: "showModal === 'send-nudge'" }) %>
        <%- include('../layouts/card.ejs', { bodyTemplate: 'player/badge-detail.ejs', xShow: "showModal === 'badge-detail'" }) %>
      </div>
    </div>
  </template>
</div>