<div
  @click="isMobileWidth && (cardExpanded = !cardExpanded)"
  class="flex -ml-4 lg:ml-0 items-start"
>
  <div x-show="isMobileWidth" x-bind:class="'size-10 flex-shrink-0 flex-grow-0 ' + (cardExpanded ? 'i-mdi-chevron-down' : 'i-mdi-chevron-right')"></div>
  <div class="flex-grow flex-shrink">
    <h1>My giftee</h1>
    <p>Meet your Giftee, sleuth their socials, learn about them and then find them the perfect gift</p>
  </div>
  <div class="size-10 flex-shrink-0 flex-grow-0 i-mdi-person-card-details"></div>
</div>
<div x-show="!isMobileWidth || cardExpanded">
  <% if (giftees.length === 0) { %>
  <p class="mt-8 italic">Your Giftee isn't assigned yet, check back soon.</p>
  <% } else { giftees.forEach(function (giftee) { %>
    <div class="mt-8">
      <div class="flex items-center">
        <%- include('../partials/avatar.ejs', {avatar_url: giftee.avatar_url}) %>
        <div class="font-semibold ml-4"><a href="https://bsky.app/profile/<%= encodeURIComponent(giftee.handle) %>" target="_blank">@<%= giftee.handle %></a></div>
      </div>
      <% if (giftee.match_status === 'locked') { %>
        <div>
          <p><%= giftee.address %></p>
          <p><%= giftee.delivery_instructions %></p>
        </div>
        <div class="flex justify-evenly mt-2">
          <% if (giftee.nudge_count < 5) { %><button @click="$dispatch('ss-open-modal', {modal: 'send-nudge', modalData: <%= JSON.stringify({giftee_handle: giftee.handle, match_id: giftee.match_id}) %>})" class="flex items-center rounded-sm"><div class="i-mdi-message-bubble mr-1 size-5"></div><div>Nudge</div></button><% } %>
          <% if (giftee.tracking_count < 5) { %><button @click="$dispatch('ss-open-modal', {modal: 'add-tracking', modalData: <%= JSON.stringify({giftee_handle: giftee.handle, match_id: giftee.match_id}) %>})" class="flex items-center rounded-sm"><div class="i-mdi-email mr-1 size-5"></div><div>Add sent present</div></button><% } %>
        </div>
      <% } else { %>
        <p class="italic">Address will be released soon.</p>
      <% } %>
    </div>
  <% }); } %>
</div>