<div
  @click="isMobileWidth && (cardExpanded = !cardExpanded)"
  class="flex -ml-4 lg:ml-0 items-center"
>
  <div x-show="isMobileWidth" x-bind:class="'size-10 flex-shrink-0 flex-grow-0 ' + (cardExpanded ? 'i-mdi-chevron-down' : 'i-mdi-chevron-right')"></div>
  <div class="flex-grow flex-shrink">
    <h1>Nudges I've sent</h1>
    <% if (sentNudges.length === 0) { %>
      <p>If you nudge your giftee the sent nudges will show up here.</p>
    <% } else { %>
      <p>You've sent <%= sentNudges.length %> <%= plur('nudge', sentNudges.length) %>.</p>
    <% } %>
    <p class="text-sm">(Send nudges under &quot;My giftee&quot;)</p>
  </div>
  <div class="size-10 flex-shrink-0 flex-grow-0 i-mdi-message-bubble"></div>
</div>
<div x-show="!isMobileWidth || cardExpanded">
<% sentNudges.forEach(function(nudge) {
  const nudgeText = `@${ nudge.giftee_handle } nudged with ${ nudge.nudge_type } on ${ formatDatetime(nudge.created_at) }`;
%>
  <p class="mt-8">
    <% if (nudge.post_url) { %>
      <a href="<%= nudge.post_url %>" target="_blank"><%= nudgeText %></a>
    <% } else { %>
      <%= nudgeText %>
    <% } %>
  </p>
<% }) %>
</div>