<form action="/player/send-nudge" method="post" hx-boost="true" class="m-0" x-data="<%= JSON.stringify({nudge_type: nudgeTypes[0].id, nudgeGreetings, nudgeSignoffs}) %>">
  <div class="space-y-8">
    <h1 class="text-xl font-semibold">Nudge @<span x-text="modalData.giftee_handle"></span></h1>
    <ul class="list-disc">
      <li><b>Hint</b><br/>Asks your Giftee to tweet a hint so you can choose the perfect gift.</li>
      <li><b>Arrival</b><br/>Checks that your Giftee has got their parcel in their hot little hands. Before you use this, please be reasonably sure the parcel should have arrived and check the delivery status.</li>
      <li><b>Opening</b><br/>On and after opening day (<%= formatDate(settings.opening_date) %>), this asks your Giftee to tweet about their gift: with photos or a wee video. THE BEST PART. Before you do this, please be reasonably sure the parcel should have arrived and check the delivery status.</li>
      <li><b>Present Update</b><br/>Let your Giftee know that you're onto it, even though <%= formatDate(settings.send_by_date) %> sending deadline may be making that swooshing sound as it goes past.</li>
    </ul>
    <%- include('../partials/drop-down.ejs', {id: 'nudge_type', xModel: 'nudge_type', label: 'Type of nudge', options: nudgeTypes}); %>
    <%- include('../partials/drop-down.ejs', {id: 'nudge_greeting', xModel: 'nudge_greeting', label: 'Greeting', optionsExp: 'nudgeGreetings[nudge_type]'}); %>
    <%- include('../partials/drop-down.ejs', {id: 'nudge_signoff', xModel: 'nudge_signoff', label: 'Signoff', optionsExp: 'nudgeSignoffs[nudge_type]'}); %>
    <%- include('../partials/input-submit-with-activity.ejs', {xBindDisabled: false, label: 'Nudge'}); %>
  </div>
  <input type="hidden" name="match_id" x-bind:value="modalData.match_id"/>
  <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
<form>  